@model Garage_2.Models.Vehicles

@{
    ViewData["Title"] = "Edit";
    
}

<h1>Lägg till / Ändra</h1>

<h4>Fordon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RegNo" class="control-label">RegNr</label>
                <input asp-for="RegNo" class="form-control" />
                <span asp-validation-for="RegNo" class="text-danger"></span>
            </div>

@*            <div class="form-group">
                <label asp-for="VehicleType" class="control-label">Fordonstyp</label>
                <input asp-for="VehicleType" class="form-control" />
                <span asp-validation-for="VehicleType" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="VehicleType" class="control-label">Fordonstyp</label>
                <select class="form-control" name="VehicleType" asp-items="@Html.GetEnumSelectList<VehicleType>()">
                <option selected="selected" value="">Välj typ av fordon</option>
            </select>
            </div>
@*            <div class="form-group">
                <label asp-for="Color" class="control-label">Color</label>
                <select class="form-control" name="Color" asp-items="@Html.GetEnumSelectList<Color>()">
                <option selected="selected" value="">Välj fordonets färg</option>
            </select>
            </div>*@
            <div class="form-group">
                <label asp-for="Color" class="control-label">Färg</label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Make" class="control-label">Märke</label>
                <input asp-for="Make" class="form-control" />
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label">Modell</label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfWheels" class="control-label">Antal hjul</label>
                <input asp-for="NoOfWheels" class="form-control" />
                <span asp-validation-for="NoOfWheels" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-primary" />
            </div>
            <br />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tillbaka till listan</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
